.home {
  background-color: #062736;
  background-image: url("./assets/world-map.png");
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #000;
}

footer {
  background-color: #062736;
  color: white;
  text-align: center;
  padding: 15px;
}